# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.log

*.tlog

*.lastbuildstate

sw/host \.NET/BlueWave\.Interop\.Asio/Release/

sw/host \.NET/DirectMidi\.Interop/Release/

sw/host \.NET/Kernel32Midi/bin/Release/

sw/host \.NET/Kernel32Midi/obj/Release/

sw/host \.NET/OpenHardwareMonitor/obj/Release/

sw/host \.NET/packages/

sw/host \.NET/PDFView/bin/Release/

sw/host \.NET/PDFView/obj/Release/

sw/host \.NET/Release/

*.opensdf

*.sdf

*.suo

sw/host \.NET/VSTiBox/bin/Release/

sw/host \.NET/VSTiBox/obj/Release/

sw/control/Flash/
