# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.log
sw/control/Flash/

sw/host \.NET/BlueWave\.Interop\.Asio/Release/

sw/host \.NET/DirectMidi\.Interop/Release/

sw/host \.NET/Kernel32Midi/bin/

sw/host \.NET/Kernel32Midi/obj/

sw/host \.NET/OpenHardwareMonitor/obj/

sw/host \.NET/packages/

sw/host \.NET/PDFView/bin/

sw/host \.NET/PDFView/obj/

sw/host \.NET/VSTiBox/bin/

sw/host \.NET/VSTiBox/obj/

sw/host \.NET/VSTiBox\.sdf

sw/host \.NET/Release/

sw/host \.NET/VSTiBox\.suo

sw/host \.NET/VSTiBox\.v11\.suo

sw/host \.NET/BlueWave\.Interop\.Asio/Debug/

sw/host \.NET/Debug/

*.tlog

sw/host \.NET/DirectMidi\.Interop/Debug/

sw/host \.NET/OpenHardwareMonitor/Bin/Debug/

*.user

*.opensdf

sw/host .NET/.vs/VSTiBox/v15/
